<div class="title is-4"> Congrats! You guessed correctly!</div>

Or I leaked this link. But it's not reveal time yet. 

<br>
Also, if I messed something up and you do somehow get the reveal leaked early I'd appreciate it if you just sated your curiosity and don't share what you find. <div class="title is-1">If you DM me on Twitter/X (@D0nkeyHS) or Discord (@d0nkey) with evidence of a leak on my site then I'll turn off ads for you if the leak doesn't get shared.</div>