<div class="title is-2">Leaderboard</div>
<FunctionComponents.Ads.below_title/>
<%= render_dropdowns @dropdowns %>

<div class="notification is-warning">
    No data available for this leaderboard! Try other options!
</div>
