<div>
        <div phx-update="ignore" id="nitropay-video-test"></div>
        <%= for _ <- 1..1000 do %>
            <div>

            I'm a little butterfly
            </div>
        <% end %>
</div>
