<table class="table is-striped">
    <tbody>
    <%= for row <- @rows do %>
      <tr>
          <%= for %{value: value, style: style} <- row do %>
            <td style="<%=style%>"><%=value%></td>
          <% end %>
      </tr>
    <% end %>
    </tbody>
</table>
