<div class="title is-2"><%= @title %></div>

<div class="subtitle is-6">Greetings, traveler. This page is still WIP but you're welcome to this sneak peak </div>
<%= for row <- @rows do %>
    <%= row %>
    <br>
<% end %>

<table class="table is-striped is-fullwidth is-narrow">
    <thead>
        <tr>
            <%= @table_headers %>
        </tr>
    </thead>
    <tbody>
        <%= for row <- @table_rows do %>
            <%= row %>
        <% end %>
    </tbody>
</table>

