<div class="title is-2"><%= @title %> </div>
<a class="button is-link" href="<%= @before_link %>"><---</a>
<a class="button is-link" href="<%= @after_link %>">---></a>
<%= render_dropdowns @dropdowns %>
<%= render("tournament_table.html", conn: @conn, raw: @tournaments, slug: @slug) %>
