<div class="title is-2">Tournaments Stats</div>
<div phx-update="ignore" id="nitropay-below-title-leaderboard"></div><br>


Enter battlefy tournament links or ids below, one per line
<%= form_for @c, @self_link, [method: :get], fn
f -> %>
    <%= textarea f, "tournaments", class: "textarea", value: @edit %>

    <%= submit "Submit", class: "button" %>

<% end %>
