<div class="title is-2">Tournaments Stats</div>
<FunctionComponents.Ads.below_title/>

<div class="notification is-primary">This is for viewing player stats across multiple tournaments. It is not for viewing archetype/deck/lineup stats.</div>

Enter battlefy tournament links or ids below, one per line
<%= form_for @c, @self_link, [method: :get], fn
f -> %>
    <%= textarea f, "tournaments", class: "textarea", value: @edit %>

    <%= submit "Submit", class: "button" %>

<% end %>
