<section id="torch-toolbar">
  <div class="torch-container">
    <.link href={~p"/torch/formats"} class="torch-button"><%= Torch.I18n.message("Cancel") %></.link>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>New Format</h3>
    </div>
    <.format_form changeset={@changeset} action={~p"/torch/formats"} />
  </div>
</section>
