<h1>New Leaderboard entry</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.leaderboard_entry_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.leaderboard_entry_path(@conn, :index) %></span>
