<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>d0nkey.top</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link id="theme-stylesheet" rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
  </head>
 <nav id="main-navbar" class="navbar is-dark" role="navigation" aria-label="main navigation" style="display:none">
   <div class="navbar-brand">
    <a class="navbar-item" href="<%=Routes.page_path(@conn, :index)%>">d0nkey</a>

     <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="burger-toggle">
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
     </a>
   </div>

   <div id="burger-toggle" class="navbar-menu">
     <div class="navbar-start">
       <div class="navbar-item has-dropdown is-hoverable">
         <a class="navbar-item navbar-link" href="<%=Routes.leaderboard_path(@conn, :index)%>">Leaderboard</a>

         <div class="navbar-dropdown">
            <%= for {region, region_name} <- Backend.Blizzard.qualifier_regions_with_name() do %>
                    <a class="navbar-item is-link"
                    href="<%= Routes.leaderboard_path(@conn, :index, %{"region" => region})
                    %>"><%= region_name %></a>
            <% end %>
         </div>
       </div>
       <div class="navbar-item has-dropdown is-hoverable">
         <a class="navbar-link">
           Masters Tour
         </a>

         <div class="navbar-dropdown">
           <a class="navbar-item" href='<%=Routes.masters_tour_path(@conn, :invited_players, Backend.Blizzard.current_ladder_tour_stop) %>'>Invited</a>
           <a class="navbar-item" href="<%=Routes.masters_tour_path(@conn, :qualifiers)%>">Qualifiers</a>
           <a class="navbar-item" href="<%=Routes.masters_tour_path(@conn, :qualifier_stats, Backend.Blizzard.current_ladder_tour_stop())%>">Qualifier Stats</a>
           <a class="navbar-item" href="<%=Routes.masters_tour_path(@conn, :earnings)%>">Earnings</a>
         </div>
       </div>
       <%= current_mt @conn %>
       <div class="navbar-item has-dropdown is-hoverable">
         <a class="navbar-link">
           Misc
         </a>

         <div class="navbar-dropdown">
           <a class="navbar-item" href='<%=Routes.battlefy_path(@conn, :organization_tournaments) %>'>3rd Party Tournaments</a>
         </div>
       </div>
     </div>

     <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Choose Theme</a>
            <div class="navbar-dropdown">
                <%= for theme <- ["darkly", "flatly"] do %>
                  <a href="" class="navbar-item" id="theme-select-<%=theme%>" onclick='selectTheme("<%=theme%>")
                  '><%=theme%></a>
                <% end %>
            </div>
        </div>
       <div class="navbar-item has-dropdown is-hoverable">
           <a class="navbar-link">Follow me!</a>
           <div class="navbar-dropdown">
               <a class="navbar-item" href="https://twitter.com/D0nkeyHS">twitter</a>
               <a class="navbar-item" href="https://discord.gg/DKYDu2Q">discord</a>
               <a class="navbar-item" href="https://www.twitch.tv/d0nkeyhs">twitch</a>
               <a class="navbar-item" href="https://www.pornhub.com/view_video.php?viewkey=ph55b2ec08ad5b1">pornhub</a>
           </div>
       </div>
       <!--
       <div class="navbar-item">
         <div class="buttons">
           <a class="button is-primary">
             <strong>Sign up</strong>
           </a>
           <a class="button is-light">
             Log in
           </a>
         </div>
       </div>
       -->
     </div>
   </div>
 </nav>
<script>
   var navbar = document.getElementById('main-navbar');
   if (navbar) {
   navbar.style.display = '';
   } else {
       console.log("Couldn't get navbar!")
   }

document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
  <body>
    <noscript>
        <header class="container">
          <nav role="navigation">
            <a class="" href="<%=Routes.page_path(@conn, :index)%>">🏠</a>
            <a class="" href="<%=Routes.leaderboard_path(@conn, :index)%>">leaderboard</a>
            <a class="" href='<%=Routes.masters_tour_path(@conn, :invited_players, Backend.Blizzard.current_ladder_tour_stop) %>'>invited</a>
            <div class="is-pulled-right">
                <a class="" href="https://twitter.com/D0nkeyHS">twitter</a>
                <a class="" href="https://discord.gg/DKYDu2Q">discord</a>
                <a class="" href="https://www.twitch.tv/d0nkeyhs">twitch</a>
                <a class="" href="https://www.pornhub.com/view_video.php?viewkey=ph55b2ec08ad5b1">pornhub</a>
            </div>
          </nav>
        </header>
    </noscript>
    <main role="main" class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <!--
        <div id="theme-chooser-dropdown" style="display: none" class="is-pulled-right">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button aria-haspopup="true" aria-controls="dropdown-menu" class="button">Choose Theme</button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <%= for theme <- ["darkly", "flatly"] do %>
                  <a href="" class="dropdown-item" id="theme-select-<%=theme%>" onclick='selectTheme("<%=theme%>")'><%=theme%></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        -->
        <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
      var allowed_themes = ['flatly', 'darkly'];
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      var theme = localStorage.getItem('theme');
      if (!theme || allowed_themes.indexOf(theme) < 0) {
        theme = 'darkly'
      }
      href = "https://unpkg.com/bulmaswatch/" + theme + "/bulmaswatch.min.css"
      var link = document.getElementById('theme-stylesheet');
      if (link) {
        link.href = href
      } else {
        console.log("Couldn't grab the link")
      }
      var selectTheme = function(selected_theme) {
        if (allowed_themes.indexOf(selected_theme) > -1) {
          localStorage.setItem('theme', selected_theme);
          console.log("Setting theme to " + selected_theme + " and reloading");
          location.reload();
        } else {
          console.log("Got an invalid theme, refusing to select!");
        }
      }
    </script>
  </body>
</html>
