<!DOCTYPE html>
<!-- template: root.html.leex -->
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "d0nkey" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link id="theme-stylesheet" rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <%= unless user(@conn)  |> Backend.UserManager.User.hide_ads?() do %>
      <script type="text/javascript">
        window["nitroAds"] = window["nitroAds"] || {
          createAd: function() {
            window.nitroAds.queue.push(["createAd", arguments]);
          },
          queue: []
        };
      </script>
      <script async src="https://s.nitropay.com/ads-909.js"></script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8835820092180114" crossorigin="anonymous"></script>
    <% end %>
    <%= render_tags_all(assigns[:meta_tags] || %{}) %>
  </head>
  <%= render("navbar.html", %{conn: @conn, handle_user: true}) %>
  <body>
    <%= @inner_content %>
    <%= if Application.get_env(:backend, :goatcounter_analytics) do %>
    <script data-goatcounter="https://d0nkeytop.goatcounter.com/count"
              async src="//gc.zgo.at/count.js"></script>
    <% end %>
    <br>
  </body>
  <%= render("footer.html", %{conn: @conn}) %>
    <script>
      var allowed_themes = ['flatly', 'darkly'];
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      var theme = localStorage.getItem('theme');
      if (!theme || allowed_themes.indexOf(theme) < 0) {
        theme = 'darkly'
      }
      href = "https://unpkg.com/bulmaswatch/" + theme + "/bulmaswatch.min.css"
      var link = document.getElementById('theme-stylesheet');
      if (!link) {
        console.log("Couldn't grab the link");
      } else if (link.href != href) {
        link.href = href;
        console.log("Changed the theme to " + theme);
      } else {
        console.log("The theme is already correct");
      }
      var selectTheme = function(selected_theme) {
        if (allowed_themes.indexOf(selected_theme) > -1) {
          localStorage.setItem('theme', selected_theme);
          console.log("Setting theme to " + selected_theme + " and reloading");
          location.reload();
        } else {
          console.log("Got an invalid theme, refusing to select!");
        }
      }
    </script>
</html>
