<!DOCTYPE html>
<!-- template: root.html.leex -->
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || get_in(assigns, [:meta_tags, :title]) || "HSGuru" %>
    <link rel="icon" type="image/x-icon" href={Application.fetch_env!(:backend, :favicon)}/>
    <link rel="stylesheet" href={"#{ Routes.static_path(@conn, "/css/app.css") }"}/>
    <script defer type="text/javascript" src={"#{ Routes.static_path(@conn, "/js/app.js") }"}></script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> --%>
    <link rel="stylesheet" id="theme-stylesheet" href={"#{ Routes.static_path(@conn, "/css/darkly.css") }"}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/1.2.0/balloon.min.css">

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <!-- Cloudflare Web Analytics -->
    <!-- d0nkey.top -->
    <!-- hsguru.com -->
    <%= if @conn.host =~ "hsguru.com" do %>
      <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a9cd1d4a98d242169e4caf42af81d0f3"}'></script>
    <% else %>
      <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "590f08dce08a492fb4b4d49be7a3ee87"}'></script>
    <% end %>
    <!-- End Cloudflare Web Analytics -->

    <%= if show_ads?(@conn) do %>

      <%= if enable_nitropay?(@conn) do %>
        <%= if @conn.host =~ "d0nkey.top" do %>
          <script data-cfasync="false">window.nitroAds=window.nitroAds||{createAd:function(){return new Promise(e=>{window.nitroAds.queue.push(["createAd",arguments,e])})},addUserToken:function(){window.nitroAds.queue.push(["addUserToken",arguments])},queue:[]};
            </script>
          <script data-cfasync="false" async src="https://s.nitropay.com/ads-909.js"></script>
        <% end %>
        <%= if @conn.host =~ "hsguru.com" do %>
          <script data-cfasync="false">window.nitroAds=window.nitroAds||{createAd:function(){return new Promise(e=>{window.nitroAds.queue.push(["createAd",arguments,e])})},addUserToken:function(){window.nitroAds.queue.push(["addUserToken",arguments])},queue:[]};</script>
          <script data-cfasync="false" async src="https://s.nitropay.com/ads-1847.js"></script>
        <% end %>
        <%= render("ads_all.html", %{conn: @conn}) %>
      <% end %>

      <%= if enable_adsense?(@conn) do %>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8835820092180114" crossorigin="anonymous"></script>
      <% end %>
    <% end %>
    <%= render_tags_all(assigns[:meta_tags] || %{}) %>

    <%= if Application.get_env(:backend, :goatcounter_analytics) do %>
    <script data-goatcounter="https://d0nkeytop.goatcounter.com/count"
              async src="//gc.zgo.at/count.js"></script>
    <% end %>
  </head>
  <%= render("navbar.html", %{conn: @conn, handle_user: true}) %>
  <body>
    <main role="main" class={"#{ container_classes(@conn) }"}>
      <%= if enable_nitropay?(@conn) && show_ads?(@conn) do %>
        <div phx-update="ignore" id="nitropay-video-all">
        </div>
        <div class="is-hidden-mobile sticky-stack column" phx-update="ignore" id="nitropay-sticky-stack">
          <%!-- <FunctionComponents.Ads.ad_blocking_hint/> --%>
        </div>
      <% end %>
      <%= @inner_content %>
    </main>
    <br>
  </body>

  <div phx-update="ignore" id="nitropay-desktop-anchor">
  </div>
  <%= render("footer.html", %{conn: @conn}) %>
</html>
