<html>
  <head>
    <title>Admin</title>
    <!-- Uncomment to just use the bare bones torch styles rather than the theme -->
    <!--<link rel="stylesheet" href={"#{ Routes.static_path(@conn, "/torch/base.css") }"}>-->
    <link rel="stylesheet" href={"#{ Routes.static_path(@conn, "/torch/theme.css") }"}>
  </head>

  <body class={"#{ Torch.PageView.body_classes(@conn) }"}>
    <header>
      <section id="torch-account-info">
        <div class="torch-container">
          <%= if battletag(@conn) do %>
            <a href="/profile/settings"><%= battletag(@conn) %></a>
          <% else %>
            <a href="/auth/bnet">Login</a>
          <% end %>
          <a href="/logout">Logout</a>
        </div>
      </section>

      <section id="torch-nav">
        <div class="torch-container">
          <div class="torch-logo">
            <a href="/">
              <h3>Home</h3>
            </a>
          </div>
          <nav class="torch-nav">
            <%= if can_access?(@conn, :battletag_info) do %>
              <a href="/torch/battletag_info">Battletag Info</a>
            <% end %>
            <%= if can_access?(@conn, :users) do %>
              <a href="/torch/users">Users</a>
            <% end %>
            <%= if can_access?(@conn, :invites) do %>
              <a href="/torch/invited_player">Invites</a>
            <% end %>
            <%= if can_access?(@conn, :feed_items) do %>
              <a href="/torch/feed_items">Feed Items</a>
            <% end %>
            <%= if can_access?(@conn, :fantasy_leagues) do %>
              <a href="/torch/fantasy-leagues">Fantasy Leagues</a>
            <% end %>
            <%= if can_access?(@conn, :old_battletags) do %>
              <a href="/torch/old-battletags">Old Battletags</a>
            <% end %>
            <%= if can_access?(@conn, :twitch_commands) do %>
              <a href="/torch/twitch-commands">Twitch Commands</a>
            <% end %>
            <%= if can_access?(@conn, :groups) do %>
              <a href="/torch/groups">Groups</a>
            <% end %>
            <%= if can_access?(@conn, :group_memberships) do %>
              <a href="/torch/group-memberships">Group Memberships</a>
            <% end %>
            <%= if can_access?(@conn, :tournament_streams) do %>
              <a href="/torch/tournament-streams">Tournament Streams</a>
            <% end %>
            <%= if can_access?(@conn, :periods) do %>
              <a href="/torch/periods">Periods</a>
            <% end %>
          </nav>
        </div>
      </section>
    </header>

    <Torch.Component.flash_messages flash={@flash} />
    <%= @inner_content %>
    <script src={"#{ Routes.static_path(@conn, "/torch/torch.js") }"}></script>
  </body>
</html>
