<div class="title is-2"><%=@title%></div>
<FunctionComponents.Ads.below_title/>
<%= render_dropdowns @dropdowns %>
<table class="table is-striped is-fullwidth is-narrow">
    <thead>
        <tr>
            <%= @headers %>
        </tr>
    </thead>
    <tbody>
        <%= for row <- @rows do %>
            <%= row %>
        <% end %>
    </tbody>
</table>
