<div class="title is-2"><%=@title%></div>
<div phx-update="ignore" id="nitropay-below-title-leaderboard"></div><br>
<%= render_dropdowns @dropdowns %>
<table class="table is-striped is-fullwidth is-narrow">
    <thead>
        <tr>
            <%= @headers %>
        </tr>
    </thead>
    <tbody>
        <%= for row <- @rows do %>
            <%= row %>
        <% end %>
    </tbody>
</table>
